// body {
//     background-color: #FF6F61;
// }

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

$form-range-thumb-width: 5rem;

body {
    text-align: center;
    background-color: #56baed;
    margin: 0;
}

#nav-tab button {
    color: white;
    opacity: 0.5;
}

#nav-tab {
    border-bottom: 3px solid rgb(255, 255, 255, 0.4);
}